/* Do we still need this? */
#main-container {
    height: 100vh;
    width: 100%;
    background-color: rgb(240, 240, 240);

    overflow: auto;
}

#internal-container {
    height: 93%;
    width: 100%;
    background-color: rgb(240, 240, 240);

    overflow: auto;
}

/* Menu panel */
#menu-container {
    overflow: auto;
    border-bottom: 1px solid lightgrey;
    color: white;
    background-color: rgb(43, 86, 154);
}

.menu {
    z-index: 999;
}

/* Toolbox panel */
#toolbox-container {
    padding: 5px;
    background-color: lightgray;
    height: 100%;
}

.toolbox-element {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 2px;
    background-color: white;

    font-family: Verdana;
    font-size: smaller;
    width: 40px;
    text-align: center;
}

/* Properties panel */
#properties-container {
    background-color: lightgray;
    height: 100%;
}

/* Report Canvas */
#report-canvas-container {
    width: 110vh;
    margin: 20px;
    padding: 1px;
    background-color: white;

}

#report-header {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

    height: 10vh;

    background:
        linear-gradient(-90deg, rgba(0, 0, 0, .05) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .05) 1px, transparent 1px),
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(-90deg, #aaa 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(#aaa 1px, transparent 1px),
        #f2f2f2;
    background-size:
        4px 4px,
        4px 4px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
}

#report-body {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

    height: 55vh;

    background:
        linear-gradient(-90deg, rgba(0, 0, 0, .05) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .05) 1px, transparent 1px),
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(-90deg, #aaa 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(#aaa 1px, transparent 1px),
        #f2f2f2;
    background-size:
        4px 4px,
        4px 4px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
}

#report-footer {
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;

    height: 10vh;

    background:
        linear-gradient(-90deg, rgba(0, 0, 0, .05) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .05) 1px, transparent 1px),
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(-90deg, #aaa 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(#aaa 1px, transparent 1px),
        #f2f2f2;
    background-size:
        4px 4px,
        4px 4px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
}

.report-region-name {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    margin-left: 5px;
}

.report-region-element {
    padding: 2px;
    margin-left: 2px;

    height: 20px;
    width: 70px;

    font-family: Verdana;
    font-size: smaller;

    background-color: white;
}

.console {
    background-color: rgb(43, 86, 154);
    color: white;
    padding: 2.5px;
}