div {
}

#main-container{
    height: 100%;
    width: 100%;
}

#toolbox-container{
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

#report-canvas-container{
    border: 1px solid lightgrey;
    border-radius: 2px;

    height: 100%;
    width: 79%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right: 0;
}

/* Toolbox panel */
.toolbox-element{
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 2px;
    margin-bottom: 2px;
    background-color: white;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
}

/* Report Canvas */

#report-header{
    border: 1px solid lightgrey;
    border-radius: 2px;

    height: 10%;
    display: flex;
}
    
#report-body{
    border: 1px solid lightgrey;
    border-radius: 2px;

    height: 80%;
    display: flex;
}

#report-footer{
    border: 1px solid lightgrey;
    border-radius: 2px;

    height: 10%;
    display: flex;
}

.report-region-name{
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
}

.report-region-element{
    border: 1px solid lightgrey;
    height: 5%;
}